.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-radius: 0px;
  border: 0px;
}

.navbar-inverse{
  background-color: #2D3F57;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #c0e9fd;
  border-right: 0px;
}

div ul li a img{
  width: 100px;
  height: 60px;
}

.container-fluid{
  padding: 0px;
}
.navbar-nav>li>a{
  padding: 0px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}