
<nav class="navbar navbar-inverse navbar-new">
        <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo-padding" href="#"><img src="./assets/images/logo.png"/></a>
        </div>
       
      </div>
    </div>
    </nav>

<div class="manu-margin w3-sidebar w3-bar-block w3-light-grey w3-card">
  <a href="#" class="w3-bar-item w3-button" [class.active-menu]="isActiveMenu == 'userManagement'">Payment</a>
  <button class="w3-button w3-block w3-left-align" (click)="myAccFunc('coinManagement')">
        Coin Management <i class="fa fa-caret-down"></i>
        </button>
        <div id="demoAcc" class="w3-hide w3-white w3-card" style="
        background-color:#dcd1d1 !important;" [class.show-menu]="isShowMenu == 'coinManagement'" >
      
          <a  (click)="getCurrentValue('userManagement')" class="w3-bar-item w3-button" [class.active-menu]="isActiveMenu == 'coinManagement'">View Currency</a>
        </div>
  
  
  <button class="w3-button w3-block w3-left-align" (click)="myAccFunc('userManagement')">
  User Management <i class="fa fa-caret-down"></i>
  </button>
  <div id="demoAcc" style="
  background-color:#dcd1d1 !important;" class="w3-hide w3-white w3-card" [class.show-menu]="isShowMenu == 'userManagement'">


    <a  class="w3-bar-item w3-button" [class.active-menu]="isActiveMenu == 'userManagement'">View User</a>
  </div>

  <button class="w3-button w3-block w3-left-align" (click)="myAccFunc('transactionManagement')">
    Transaction Management <i class="fa fa-caret-down"></i>
    </button>
    <div id="demoAcc" style="
    background-color:#dcd1d1 !important;" class="w3-hide w3-white w3-card" [class.show-menu]="isShowMenu == 'transactionManagement'">
  
  
      <a  class="w3-bar-item w3-button" (click)="getCurrentValue('transactionManagement')" [class.active-menu]="isActiveMenu == 'transactionManagement'">View Transaction</a>
    </div>
 



<button class="w3-button w3-block w3-left-align" (click)="myAccFunc('trading')">
        Trading <i class="fa fa-caret-down"></i>
        </button>
        <div id="demoAcc" style="
        background-color:#dcd1d1 !important;" class="w3-hide w3-white w3-card" [class.show-menu]="isShowMenu == 'trading'">
      
          <a  class="w3-bar-item w3-button" (click)="getCurrentValue('trading')" [class.active-menu]="isActiveMenu == 'trading'">Orders</a>
        </div>
  
 
</div>

<div class="w3-container" style="margin-left:217px">
<span><h2>People</h2><h6>  All Users</h6></span>

<div class="row">
        <div class="col-md-2 pull-right">
            <!-- ngIf: isAdmin -->
        </div>
        <div class="col-md-2 pull-left">
            <select ng-model="pageSize" class="form- abc angularSelect pull-left ng-pristine ng-valid" ng-change="currentPage=1;getAllUsers()">
                <option value="10" selected="selected">Show 10 per page</option>
                <option value="25">Show 25 per page</option>
                <option value="50">Show 50 per page</option>
                <option value="100">Show 100 per page</option>
            </select>

        </div>

        <div class="col-md-2 pull-left">
            <select ng-model="statusFilter" class="form-control angularSelect ng-pristine ng-valid" ng-change="currentPage = 1;getAllUsers()">
                <option value="">All</option>
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
            </select>
        </div>
        <div class="col-md-2 pull-right" style="margin-right:-120px;">
            <!-- <span class="pull-left">Count Per Page: {{(users
                |filter:statusFilter | filter:userFilter|
                orderBy:predicate:!reverse | startFrom:(currentPage-1)*pageSize
                | limitTo:pageSize).length}}</span> -->
            <input type="search" ng-model="userFilter" class="input-size ng-pristine ng-valid" ng-change="currentPage=1;getAllUsers()" placeholder="Search" style="padding:15px;">
        </div>
    </div>

    <div class="panel-body table-light broadcasts-table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;" class="table table-bordered">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Role Type</th>
                  <!--  <th>Password</th> -->
                  <th>Created On</th>
                  <th>Last Login Date</th>
                  <th width="15%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userDetail">
                  <td>{{user.userName}}</td>
                  <td>{{user.roles[0].roleTypes}}</td>
                  <td>{{user.createdOn | date}}</td>
                  <td>{{user.userName}}</td>
                  <td><a href="javascript:void(0)" class="action-act red">Inactive </a> | <a href="javascript:void(0)" class="action-act red">Message </a></td>
               
               
               
               
               
                </tr>
                <tr class="alt">
                  <td>User 2</td>
              
                  <td>Cfu user</td>
                  <!--  <td>#@141&amp;^/$</td> -->
                  <td>16-2-2017 10:10</td>
                  <td>16-2-2017 10:10</td>
                  <td><a href="javascript:void(0)" class="action-act red">Active</a> | <a href="javascript:void(0)" class="action-act red" data-toggle="modal" data-target="#myModal">Message </a></td>
                </tr>
                <tr>
                  <td>User 3</td>
               
                  <td>Cfu Admin</td>
                  <!--  <td>#@141&amp;^/$</td> -->
                  <td>16-2-2017 10:10</td>
                  <td>16-2-2017 10:10</td>
                  <td><a href="javascript:void(0)" class="action-act red">Inactive </a> | <a href="javascript:void(0)" class="action-act red">Message </a></td>
                </tr>
                <tr class="alt">
                  <td>User 4</td>
               
                  <td>Cfu Admin</td>
                  <!--  <td>#@141&amp;^/$</td> -->
                  <td>16-2-2017 10:10</td>
                  <td>16-2-2017 10:10</td>
                  <td><a href="javascript:void(0)" class="action-act red">Inactive </a> | <a href="javascript:void(0)" class="action-act red">Message </a></td>
                </tr>
              </tbody>
            </table>
            
            <div class="table-footer clearfix">
            <div class="DT-label">
            <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 50 of 57 entries</div>
            </div>
                <div class="DT-pagination">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" aria-controls="jq-datatables-example" tabindex="0" id="jq-datatables-example_previous">
                            <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            
                            <li class="paginate_button active" aria-controls="jq-datatables-example" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">3</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">4</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">5</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">6</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">7</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">8</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">9</a></li>
                            <li class="paginate_button " aria-controls="jq-datatables-example" tabindex="0"><a href="#">10</a></li>
                            <li class="paginate_button next" aria-controls="jq-datatables-example" tabindex="0" id="jq-datatables-example_next"><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                          
                            <li>
                                <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </li>
                        </ul>

                        
                    </div>
                </div>
            </div>
            </div>
</div>

<div class="modal col-sm-offset-4" id="myModal" role="">
  <div class="modal-dialog model-bg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send Message to the users</h4>
      </div>
      <div class="modal-body">
        <p><textarea rows="4" cols="100" name="Message" >
          Enter message here...</textarea></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Send Message</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>