<app-admin-nav></app-admin-nav>
<div class="MainContainer">
    <app-admin-side-menu></app-admin-side-menu>

    <div class="container">
        <!--this is use for add coin input field-->
        <br>
        <br>
        <br>
        <!--in this table we show the all coin which is add by admin-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Country</th>
                    <th>Registered On</th>
                    <th>Active|Deactive</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let AllUser of AllUser; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{AllUser.userName}}</td>
                    <td>{{AllUser.email}}</td>
                    <td>{{AllUser.phoneNumber}}</td>
                    <td>{{AllUser.country}}</td>
                    <td>{{AllUser.createdOn}}</td>
                    <td><a href="" class="active">Active</a><span style="font-size:20px">|</span><a href="" class="deactive">Deactive</a></td>
                </tr>


            </tbody>
        </table>




    </div>

</div>