<div class="MainContainer">
  <div class="logo_serach_container">
    <div class="logo_container"><a href="#home"><img class="logo" src="assets/img/logo.jpg"></a></div>
    <div class="search_container"><input type="text" name="search" placeholder="search" />
      <button name="search button" class="search_button"><i class="fa fa-search"></i></button></div>
  </div>
      <ul class="dropdown">
        <li><a href="#contact">Trade</a>
          <ul class="dropdown-content">
            <li><a class="active" href="#">All Trad</a></li>
            <li><a class="active" href="#">Dispute Trades</a></li>
          </ul>
        </li>
        <li><a href="#contact">User</a>
          <ul class="dropdown-content">
            <li><a class="active" href="#">Registered Users</a></li>
            <li><a class="active" href="#">Report Users </a></li>
            <li><a class="active" href="#">Block Users</a></li>
            <li><a class="active" href="#">Zero Transection</a></li>
          </ul>
        </li>
        <li><a href="#contact">Setting</a>
          <ul class="dropdown-content">
            <li><a class="active" href="#">Payment Method</a></li>
          </ul>
        </li>
      </ul>

      

      <div class="container">
        <div width="100%">
          <span style="font-size:25px;">Registered Users</span>
          <span class="total_user">Total Registered Users: 30</span>
        </div>    

        <ul float="left">
          <li>
            <select class="short_by_email">
                <option value="all">All</option>
                <option value="Varified Email">Varified Email</option>
                <option value="Unvarified Email">Unvarified Email</option>
            </select>
          </li>

          <li>
            <select class="short_by_location">
                <option value="10">India</option>
                <option value="25">Bangladesh</option>
                <option value="50">Shree Lanka</option>
              </select>
            </li>

            <li>
            <select class="short_by_number">
                <option value="10">Show 10 Per Page</option>
                <option value="25">Show 25 Per Page</option>
                <option value="50">Show 50 Per Page</option>
              </select>
            </li>
            <li>
              <input type="text" name="search" placeholder="search" />
            </li>
            <li>
              <input type="date" name="search" placeholder="search" />
            </li>  
            <li> 
            to
          </li>
          <li>
              <input type="date" name="search" placeholder="search" />
            </li>
        </ul>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Username</th>
                <th>Country</th>
                <th>Verified By Email</th>
                <th>Verified By Mobile</th>
                <th>Registered On</th>
                <th>Total Transactions</th>
                <th>Buy BTC</th>
                <th>Sell BTC</th>
                <th>Total Traded BTC</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>India</td>
                <td>yes</td>
                <td>yes</td>
                <td>Date</td>
                <td>30</td>
                <td>5</td>
                <td>4</td>
                <td>22</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>India</td>
                <td>yes</td>
                <td>yes</td>
                <td>Date</td>
                <td>30</td>
                <td>5</td>
                <td>4</td>
                <td>22</td>
                <td>5</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>India</td>
                <td>yes</td>
                <td>yes</td>
                <td>Date</td>
                <td>30</td>
                <td>5</td>
                <td>4</td>
                <td>22</td>
                <td>5</td>
              </tr>
              <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>India</td>
                  <td>yes</td>
                  <td>yes</td>
                  <td>Date</td>
                  <td>30</td>
                  <td>5</td>
                  <td>4</td>
                  <td>22</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>India</td>
                  <td>yes</td>
                  <td>yes</td>
                  <td>Date</td>
                  <td>30</td>
                  <td>5</td>
                  <td>4</td>
                  <td>22</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>India</td>
                  <td>yes</td>
                  <td>yes</td>
                  <td>Date</td>
                  <td>30</td>
                  <td>5</td>
                  <td>4</td>
                  <td>22</td>
                  <td>5</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>India</td>
                    <td>yes</td>
                    <td>yes</td>
                    <td>Date</td>
                    <td>30</td>
                    <td>5</td>
                    <td>4</td>
                    <td>22</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>India</td>
                    <td>yes</td>
                    <td>yes</td>
                    <td>Date</td>
                    <td>30</td>
                    <td>5</td>
                    <td>4</td>
                    <td>22</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>India</td>
                    <td>yes</td>
                    <td>yes</td>
                    <td>Date</td>
                    <td>30</td>
                    <td>5</td>
                    <td>4</td>
                    <td>22</td>
                    <td>5</td>
                  </tr>
                  <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>India</td>
                      <td>yes</td>
                      <td>yes</td>
                      <td>Date</td>
                      <td>30</td>
                      <td>5</td>
                      <td>4</td>
                      <td>22</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>India</td>
                      <td>yes</td>
                      <td>yes</td>
                      <td>Date</td>
                      <td>30</td>
                      <td>5</td>
                      <td>4</td>
                      <td>22</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>India</td>
                      <td>yes</td>
                      <td>yes</td>
                      <td>Date</td>
                      <td>30</td>
                      <td>5</td>
                      <td>4</td>
                      <td>22</td>
                      <td>5</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>India</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Date</td>
                        <td>30</td>
                        <td>5</td>
                        <td>4</td>
                        <td>22</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>India</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Date</td>
                        <td>30</td>
                        <td>5</td>
                        <td>4</td>
                        <td>22</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>India</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Date</td>
                        <td>30</td>
                        <td>5</td>
                        <td>4</td>
                        <td>22</td>
                        <td>5</td>
                      </tr>
                      <tr>
                          <td>John</td>
                          <td>Doe</td>
                          <td>India</td>
                          <td>yes</td>
                          <td>yes</td>
                          <td>Date</td>
                          <td>30</td>
                          <td>5</td>
                          <td>4</td>
                          <td>22</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td>Mary</td>
                          <td>Moe</td>
                          <td>India</td>
                          <td>yes</td>
                          <td>yes</td>
                          <td>Date</td>
                          <td>30</td>
                          <td>5</td>
                          <td>4</td>
                          <td>22</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>Dooley</td>
                          <td>India</td>
                          <td>yes</td>
                          <td>yes</td>
                          <td>Date</td>
                          <td>30</td>
                          <td>5</td>
                          <td>4</td>
                          <td>22</td>
                          <td>5</td>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>India</td>
                            <td>yes</td>
                            <td>yes</td>
                            <td>Date</td>
                            <td>30</td>
                            <td>5</td>
                            <td>4</td>
                            <td>22</td>
                            <td>5</td>
                          </tr>
                          <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>India</td>
                            <td>yes</td>
                            <td>yes</td>
                            <td>Date</td>
                            <td>30</td>
                            <td>5</td>
                            <td>4</td>
                            <td>22</td>
                            <td>5</td>
                          </tr>
                          <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>India</td>
                            <td>yes</td>
                            <td>yes</td>
                            <td>Date</td>
                            <td>30</td>
                            <td>5</td>
                            <td>4</td>
                            <td>22</td>
                            <td>5</td>
                          </tr>
                          <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>India</td>
                              <td>yes</td>
                              <td>yes</td>
                              <td>Date</td>
                              <td>30</td>
                              <td>5</td>
                              <td>4</td>
                              <td>22</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Mary</td>
                              <td>Moe</td>
                              <td>India</td>
                              <td>yes</td>
                              <td>yes</td>
                              <td>Date</td>
                              <td>30</td>
                              <td>5</td>
                              <td>4</td>
                              <td>22</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>July</td>
                              <td>Dooley</td>
                              <td>India</td>
                              <td>yes</td>
                              <td>yes</td>
                              <td>Date</td>
                              <td>30</td>
                              <td>5</td>
                              <td>4</td>
                              <td>22</td>
                              <td>5</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>India</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>Date</td>
                                <td>30</td>
                                <td>5</td>
                                <td>4</td>
                                <td>22</td>
                                <td>5</td>
                              </tr>
                              <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>India</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>Date</td>
                                <td>30</td>
                                <td>5</td>
                                <td>4</td>
                                <td>22</td>
                                <td>5</td>
                              </tr>
                              <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>India</td>
                                <td>yes</td>
                                <td>yes</td>
                                <td>Date</td>
                                <td>30</td>
                                <td>5</td>
                                <td>4</td>
                                <td>22</td>
                                <td>5</td>
                              </tr>

                                         
            </tbody>
          </table>
        </div>
        
</div>      