<!-- navigation -->
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
    
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/home"><img src="assets/img/newlogo2.png"></a>
              </ul>
          </div>
        </div>
      </nav>



<div class="main_container">


    <div class="form_container">
        <h3 class="for_h1">Forget Your Password</h3>
        <form class="form1" action="" (ngSubmit)="submitForget()" #forGetForm="ngForm" method="post" name="forget">


            <input [(ngModel)]="formData.email" #email="ngModel" type="email" name="email" placeholder="email@example.com" minlength="10"
                [ngClass]="{'error':email.errors && email.touched}" required="" autofocus="">

            <div *ngIf="email.errors && email.touched" class="red error">

                <div *ngIf="email.errors.required" class="for_error">This is required field.</div>

                <div *ngIf="email.errors.minlength" class="for_error">Minimum 10 Cheracter required</div>

            </div>



            <div class="set_button">
                <button class="for_button" type="submit" name="submit" [disabled]="ForgetForm.invalid" name="forget" value="Forget Password">Forget Password</button>
            </div>

            <h3 id="for_link_page">
                <a href="/signup">Sign Up</a> |
                <a href="/login">Log In</a>
            </h3>

        </form>






    </div>

</div>